<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta name="description" content="Посчитайте вашу экономию в простом калькуляторе Амплифера!">

  <meta property="og:description" content="Посчитайте вашу экономию в простом калькуляторе Амплифера!">

  <meta name="twitter:card" content="photo">
  <meta name="twitter:site" content="@amplifr_ru">
  <meta name="twitter:creator" content="@amplifr_ru">
</head>

<body>
  <script type="text/javascript">
    window.location.href = 'https://amplifr.com/ru/calculator/';
  </script>
</body>

</html>